<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Cool cocktail database!</h1>
    <br>
    <a class="btn btn-flat" href="#"><td><%= link_to 'Create a cocktail', new_cocktail_path %></td></a>
  </div>
</div>

<% @cocktails.each do |cocktail| %>
  <h4><%= link_to cocktail.name, cocktail_path(cocktail) %>
    <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fas fa-trash"></i>
    </h4>
  <% end %>
<% end %>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>

      </tr>
  </tbody>
</table>
